.A
{
  background-color: #19d3da;
}
.conatiner-fluid
{
  padding: 3% 15% 3% 15%;

}
.B
{
   text-align: center;
  padding:7% 15%;
}
h4
{
  margin-top: 20%;
}
.c-item
{
  padding:0 10%;
  text-align: center;
  background-color: #32e0c4;
  padding-bottom: 4%;

}
.Ca{
  text-align: center;
  background-color: #32e0c4;
  padding-bottom: 4%;

}
